In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
fraud= pd.read_excel('./Ether Fraud Transaction case study - 2.xlsx')
fraud

,FLAG,Avg _Min_Sent_txn,Avg _Min_Recv_txn,Time_Diff,Min value received,Max value received,Min value sent,Max value sent,Total transactions
0,0,21.80,0.00,65.40,101.000000,101.000000,1.000000,84.176518,4
1,0,1073.76,1476.59,24563.10,0.216334,6.999559,0.000000,7.557834,21
2,0,13.57,10125.40,638755.18,0.010053,20.000000,0.008583,19.999769,126
3,0,163765.17,0.00,327530.33,0.002457,0.002457,0.000000,0.000508,3
4,0,22371.43,29004.65,596613.23,0.005441,1000.000000,0.000000,1000.000000,25
...,...,...,...,...,...,...,...,...,...
9835,0,163.56,0.00,327.12,101.000000,101.000000,0.055000,100.944016,3
9836,0,0.00,0.00,28.43,0.055685,0.055685,0.055065,0.055065,2
9837,0,0.00,0.00,0.00,0.039549,0.039549,0.000000,0.000000,1
9838,1,528.17,178.08,1590.58,0.000001,0.599000,0.548307,0.549500,5
9839,0,0.00,2369.29,291422.42,0.000000,0.952747,0.000000,0.000000,124

In [3]:
fraud.FLAG.value_counts()

0    7661
1    2179
Name: FLAG, dtype: int64

In [4]:
from sklearn.ensemble import IsolationForest